{% extends "template.html" %}
<!-- timeline. hier aanvullingen maken -->

{% block content %}
<div class="body">
    
<h1>FinCorp. Hack Timeline</h1>

{% for article in articles %}
    <p xmlns="http://www.w3.org/1999/xhtml">{{ article.date[0:16] }}</p> 
    <p xmlns="http://www.w3.org/1999/xhtml"><strong> {{ article.title }}</strong></p> 
    <p xmlns="http://www.w3.org/1999/xhtml">{{ article.summary }} <a href="{{ url_for('show', task_id=article.task_id) }}" target="_blank">Read more...</a></p>   
{% endfor %}

<!-- end timeline --> 
    </div>
{% endblock %}